.outer
    max-width: 1920px
    background-color: #0C0C14
    margin: auto
    position: relative
    &__money
        position: absolute
        &--1
            left: 20px
            top: 986px
        &--2
            right: 10px
            top: 1843px
        &--3
            left: 20px
            top: 2731px
        &--4
            right: 10px
            top: 3770px
        &--5
            left: 20px
            top: 4672px

.content
    max-width: 1520px
    margin: auto
    background-color: #060622
    
.section
    padding-left: 20px
    padding-right: 20px

.row
    display: flex
    justify-content: space-between
    align-items: center